In [3]:
baskets.of.Granny <- c(12, 4, 4, 6, 9, 3)
baskets.of.Geraldine <- c(5, 3, 2, 2, 12, 9)

In [5]:
Granny.money <- baskets.of.Granny * 120
Geraldine.money <- baskets.of.Geraldine * 145

In [6]:
Granny.money + Geraldine.money

[1] 2165  915  770 1010 2820 1665

Mod operator - remainder

In [7]:
7 %% 3

[1] 1

Integer division operator

In [8]:
7 %/% 3

[1] 2

In [11]:
log(exp(1))

[1] 1

In [13]:
x <- log(1:3)
x

[1] 0.0000000 0.6931472 1.0986123

In [14]:
exp(x)

[1] 1 2 3

In [15]:
1000^2

[1] 1e+06

In [16]:
1e6

[1] 1e+06

In [21]:
1.2e6 / 2e3

[1] 600

In [22]:
'+'(2, 3)

[1] 5

In [23]:
2/0

[1] Inf

In [24]:
4 - Inf

[1] -Inf

In [25]:
Inf/Inf

[1] NaN

In [26]:
NaN + 4

[1] NaN

In [29]:
x <- NA
x

[1] NA

In [28]:
x + 4

[1] NA

In [30]:
log(x)

[1] NA

In [31]:
is.na(x)

[1] TRUE

In [32]:
is.nan(NA)

[1] FALSE

In [33]:
is.na(NaN)

[1] TRUE

In [34]:
str(baskets.of.Granny)

 num [1:6] 12 4 4 6 9 3

In [35]:
length(baskets.of.Granny)

[1] 6

In [37]:
authors <- c("Andrie", "Joris")
str(authors)

 chr [1:2] "Andrie" "Joris"

In [38]:
is.numeric(baskets.of.Granny)

[1] TRUE

In [39]:
is.integer(baskets.of.Granny)

[1] FALSE

In [40]:
x <- c(4L, 6L)

In [41]:
is.integer(x)

[1] TRUE

In [42]:
seq(from = 4.5, to = 2.5, by = -0.5)

[1] 4.5 4.0 3.5 3.0 2.5

In [43]:
seq(4.5, 2.5, -0.5)

[1] 4.5 4.0 3.5 3.0 2.5

In [45]:
seq(-2.7, 1.3, length.out = 9)

[1] -2.7 -2.2 -1.7 -1.2 -0.7 -0.2  0.3  0.8  1.3

In [46]:
all.baskets <- c(baskets.of.Granny, baskets.of.Geraldine)
all.baskets

 [1] 12  4  4  6  9  3  5  3  2  2 12  9

In [47]:
baskets.of.Granny

[1] 12  4  4  6  9  3

In [48]:
baskets.of.Geraldine

[1]  5  3  2  2 12  9

In [50]:
rep(c(1, 2, 7), times = 3)

[1] 1 2 7 1 2 7 1 2 7

In [51]:
rep(c(2, 4, 5), each = 3)

[1] 2 2 2 4 4 4 5 5 5

In [52]:
rep(c(0, 7), times = c(4, 2))

[1] 0 0 0 0 7 7

In [54]:
?rep

In [57]:
numbers <- 30:1
str(numbers)

 int [1:30] 30 29 28 27 26 25 24 23 22 21 ...

In [58]:
numbers[5]

[1] 26

In [59]:
numbers[c(5, 11, 3)]

[1] 26 20 28

In [66]:
numbers[-3]

 [1] 30 29 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5
[26]  4  3  2  1

In [67]:
numbers

 [1] 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6
[26]  5  4  3  2  1

In [62]:
baskets.of.Granny[3] <- 5
baskets.of.Granny

[1] 12  4  5  6  9  3

In [63]:
baskets.of.Geraldine

[1]  5  3  2  2 12  9

In [65]:
baskets.of.Geraldine[c(2, 4)] <- 4
baskets.of.Geraldine

[1]  5  4  2  4 12  9

In [69]:
baskets.of.Granny

[1] 12  4  5  6  9  3

In [68]:
Granny.copy <- baskets.of.Granny

In [70]:
baskets.of.Granny[4] <- 11
baskets.of.Granny

[1] 12  4  5 11  9  3

In [71]:
baskets.of.Granny <- Granny.copy
baskets.of.Granny

[1] 12  4  5  6  9  3

In [72]:
baskets.of.Granny > 5

[1]  TRUE FALSE FALSE  TRUE  TRUE FALSE

In [73]:
which(baskets.of.Granny > 5)

[1] 1 4 5

In [74]:
baskets.of.Granny[baskets.of.Granny > 5]

[1] 12  6  9

In [75]:
x <- c(3, 6, 1, NA, 2)
x[x > 2]
x > 2

[1]  3  6 NA

[1]  TRUE  TRUE FALSE    NA FALSE

In [76]:
min.baskets <- baskets.of.Granny == min(baskets.of.Granny)
max.baskets <- baskets.of.Granny == max(baskets.of.Granny)
min.baskets | max.baskets

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE

In [77]:
x[!is.na(x)]

[1] 3 6 1 2

In [78]:
Granny.pointers <- c(10, 2, 4, 0, 4, 1, 4, 2, 7, 2, 1, 2)
Granny.pointers

 [1] 10  2  4  0  4  1  4  2  7  2  1  2

In [81]:
points <- Granny.pointers * c(2, 3)
points

 [1] 20  6  8  0  8  3  8  6 14  6  2  6

In [82]:
sum(points)

[1] 87