In [1]:
xd <- as.Date("2016-08-05")
xd

[1] "2016-08-05"

In [2]:
str(xd)

 Date[1:1], format: "2016-08-05"

In [3]:
startDate <- as.Date("2016-01-01")
xm <- seq(startDate, by = "2 months", length.out = 6)
xm

[1] "2016-01-01" "2016-03-01" "2016-05-01" "2016-07-01" "2016-09-01"
[6] "2016-11-01"

In [4]:
months(xm)

[1] "January"   "March"     "May"       "July"      "September" "November"

In [5]:
Sys.localeconv()

    decimal_point     thousands_sep          grouping   int_curr_symbol
              "."                ""                ""             "USD"
  currency_symbol mon_decimal_point mon_thousands_sep      mon_grouping
              "$"               "."               ","            "\003"
    positive_sign     negative_sign   int_frac_digits       frac_digits
               ""               "-"               "2"               "2"
    p_cs_precedes    p_sep_by_space     n_cs_precedes    n_sep_by_space
              "1"               "0"               "1"               "0"
      p_sign_posn       n_sign_posn
              "3"               "0"

In [6]:
Sys.getlocale()

[1] "LC_COLLATE=English_United States.1252;LC_CTYPE=English_United States.1252;LC_MONETARY=English_United States.1252;LC_NUMERIC=C;LC_TIME=English_United States.1252"

In [7]:
apollo <- "July 20, 1969, 20:17:39"
apollo.fmt <- "%B %d, %Y, %H:%M:%S"
xct <- as.POSIXct(apollo, format=apollo.fmt, tz="UTC")
xct

[1] "1969-07-20 20:17:39 UTC"

In [8]:
format(xct, "%d/%m/%y")
format(xct, "%S minutes past %I %p, on %d %B %Y")

[1] "20/07/69"

[1] "39 minutes past 08 PM, on 20 July 1969"

In [9]:
Sys.time()

[1] "2020-12-17 23:38:06 GMT"

In [10]:
Sys.time() < xct

[1] FALSE

In [11]:
dec.start <- as.POSIXct("1950-01-01")
dec <- seq(dec.start, by="10 years", length.out=4)
dec

[1] "1950-01-01 GMT" "1960-01-01 GMT" "1970-01-01 BST" "1980-01-01 GMT"

In [12]:
dec > xct

[1] FALSE FALSE  TRUE  TRUE

In [13]:
xlt <- as.POSIXlt(xct)
xlt

[1] "1969-07-20 20:17:39 UTC"

In [14]:
xlt$year

[1] 69

In [15]:
unclass(xlt)

$sec
[1] 39

$min
[1] 17

$hour
[1] 20

$mday
[1] 20

$mon
[1] 6

$year
[1] 69

$wday
[1] 0

$yday
[1] 200

$isdst
[1] 0

attr(,"tzone")
[1] "UTC"