In [1]:
first.matrix <- matrix(1:12, ncol = 4)
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [2]:
matrix(1:12, ncol = 4, byrow = TRUE)

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

In [3]:
str(first.matrix)

 int [1:3, 1:4] 1 2 3 4 5 6 7 8 9 10 ...

In [4]:
dim(first.matrix)

[1] 3 4

In [5]:
dim(1:3)

NULL

In [7]:
length(first.matrix)

[1] 12

In [8]:
baskets.of.Granny <- c(12,4,5,6,9,3)
baskets.of.Geraldine <- c(5,4,2,4,12,9)
baskets.team <- rbind(baskets.of.Granny, baskets.of.Geraldine)

baskets.team

                     [,1] [,2] [,3] [,4] [,5] [,6]
baskets.of.Granny    12   4    5    6     9   3
baskets.of.Geraldine  5   4    2    4    12   9

In [9]:
cbind(1:3, 4:6, matrix(7:12, ncol=2))

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [11]:
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [10]:
first.matrix[1:2, 2:3]

     [,1] [,2]
[1,] 4    7
[2,] 5    8

In [12]:
first.matrix[2:3, ]

     [,1] [,2] [,3] [,4]
[1,] 2    5    8    11
[2,] 3    6    9    12

In [15]:
first.matrix[-c(1, 3), ] # returns a vector

[1]  2  5  8 11

In [17]:
dim(first.matrix[-c(1, 3), ])

NULL

In [16]:
first.matrix[2, , drop = FALSE]

     [,1] [,2] [,3] [,4]
[1,] 2    5    8    11

In [18]:
dim(first.matrix[2, , drop = FALSE])

[1] 1 4

In [19]:
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [20]:
first.matrix[3, 2] <- 4
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    4    9    12

In [21]:
first.matrix[2, ] <- c(1,3)
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 1    3    1     3
[3,] 3    4    9    12

In [22]:
rownames(baskets.team) <- c('Granny','Geraldine')
rownames(baskets.team)
colnames(baskets.team) <- c('1st','2nd','3th','4th','5th','6th')
baskets.team

[1] "Granny"    "Geraldine"

          1st 2nd 3th 4th 5th 6th
Granny    12  4   5   6    9  3
Geraldine  5  4   2   4   12  9

In [24]:
colnames(baskets.team)[3] <- '3rd'
baskets.team

          1st 2nd 3rd 4th 5th 6th
Granny    12  4   5   6    9  3
Geraldine  5  4   2   4   12  9

In [25]:
baskets.copy <- baskets.team
colnames(baskets.copy) <- NULL
baskets.copy

          [,1] [,2] [,3] [,4] [,5] [,6]
Granny    12   4    5    6     9   3
Geraldine  5   4    2    4    12   9

In [26]:
baskets.team[, c("2nd","5th")]

          2nd 5th
Granny    4    9
Geraldine 4   12

In [27]:
baskets.team["Granny",]

1st 2nd 3rd 4th 5th 6th
 12   4   5   6   9   3

In [29]:
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 1    3    1     3
[3,] 3    4    9    12

In [28]:
first.matrix + 4

     [,1] [,2] [,3] [,4]
[1,] 5    8    11   14
[2,] 5    7     5    7
[3,] 7    8    13   16

In [32]:
second.matrix <- matrix(1:3, nrow=3, ncol=4)
second.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    1    1    1
[2,] 2    2    2    2
[3,] 3    3    3    3

In [33]:
first.matrix + second.matrix

     [,1] [,2] [,3] [,4]
[1,] 2    5     8   11
[2,] 3    5     3    5
[3,] 6    7    12   15

In [34]:
first.matrix + 1:3

     [,1] [,2] [,3] [,4]
[1,] 2    5     8   11
[2,] 3    5     3    5
[3,] 6    7    12   15

In [35]:
rowSums(baskets.team)
baskets.team

   Granny Geraldine
       39        36

          1st 2nd 3rd 4th 5th 6th
Granny    12  4   5   6    9  3
Geraldine  5  4   2   4   12  9

In [37]:
first.matrix

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 1    3    1     3
[3,] 3    4    9    12

In [36]:
t(first.matrix)

     [,1] [,2] [,3]
[1,]  1   1     3
[2,]  4   3     4
[3,]  7   1     9
[4,] 10   3    12

In [38]:
t(1:10)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
[1,] 1    2    3    4    5    6    7    8    9    10

In [40]:
class(t(1:10))

[1] "matrix"

In [41]:
class(1:10)

[1] "integer"

In [42]:
str(t(1:10))

 int [1, 1:10] 1 2 3 4 5 6 7 8 9 10

In [43]:
str(1:10)

 int [1:10] 1 2 3 4 5 6 7 8 9 10

In [45]:
first.matrix %*% t(second.matrix) # (3, 4) * (4, 3)

     [,1] [,2] [,3]
[1,] 22   44   66
[2,]  8   16   24
[3,] 28   56   84

In [50]:
my.array <- array(1:24, dim=c(3,4,2))
my.array

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

In [51]:
print(my.array)

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

In [47]:
str(my.array)

 int [1:3, 1:4, 1:2] 1 2 3 4 5 6 7 8 9 10 ...