In [1]:
x <- "Hello world!"
x

[1] "Hello world!"

In [4]:
is.character(x)

[1] TRUE

In [2]:
length(x)

[1] 1

In [3]:
nchar(x)

[1] 12

In [5]:
y <- 1
length(y)

[1] 1

In [6]:
x <- c("Hello", "world!")

In [7]:
length(x)

[1] 2

In [8]:
nchar(x)

[1] 5 6

In [13]:
y <- "a"
str(y)

 chr "a"

In [17]:
str(letters)

 chr [1:26] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" ...

In [9]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [10]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [14]:
letters[10]

[1] "j"

In [15]:
LETTERS[24:26]

[1] "X" "Y" "Z"

In [16]:
head(letters)

[1] "a" "b" "c" "d" "e" "f"

In [18]:
str(islands)

 Named num [1:48] 11506 5500 16988 2968 16 ...
 - attr(*, "names")= chr [1:48] "Africa" "Antarctica" "Asia" "Australia" ...

In [21]:
islands[c("Africa", "Asia")]

Africa   Asia
 11506  16988

In [22]:
names(islands)

 [1] "Africa"           "Antarctica"       "Asia"             "Australia"
 [5] "Axel Heiberg"     "Baffin"           "Banks"            "Borneo"
 [9] "Britain"          "Celebes"          "Celon"            "Cuba"
[13] "Devon"            "Ellesmere"        "Europe"           "Greenland"
[17] "Hainan"           "Hispaniola"       "Hokkaido"         "Honshu"
[21] "Iceland"          "Ireland"          "Java"             "Kyushu"
[25] "Luzon"            "Madagascar"       "Melville"         "Mindanao"
[29] "Moluccas"         "New Britain"      "New Guinea"       "New Zealand (N)"
[33] "New Zealand (S)"  "Newfoundland"     "North America"    "Novaya Zemlya"
[37] "Prince of Wales"  "Sakhalin"         "South America"    "Southampton"
[41] "Spitsbergen"      "Sumatra"          "Taiwan"           "Tasmania"
[45] "Tierra del Fuego" "Timor"            "Vancouver"        "Victoria"

In [23]:
names(islands)[1:9]

[1] "Africa"       "Antarctica"   "Asia"         "Australia"    "Axel Heiberg"
[6] "Baffin"       "Banks"        "Borneo"       "Britain"

In [24]:
names(sort(islands, decreasing = TRUE)[1:6])

[1] "Asia"          "Africa"        "North America" "South America"
[5] "Antarctica"    "Europe"

In [28]:
names(sort(islands)[1:6])

[1] "Vancouver"       "Hainan"          "Prince of Wales" "Timor"
[5] "Kyushu"          "Taiwan"

In [25]:
month.days <- c(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)

In [26]:
names(month.days) <- month.name

In [27]:
month.days

  January  February     March     April       May      June      July    August
       31        28        31        30        31        30        31        31
September   October  November  December
       30        31        30        31

In [29]:
month.days[month.days == 31]

 January    March      May     July   August  October December
      31       31       31       31       31       31       31

In [30]:
names(month.days[month.days == 31])

[1] "January"  "March"    "May"      "July"     "August"   "October"  "December"

In [31]:
pangram <- "The quick brown fox jumps over the lazy dog"
pangram

[1] "The quick brown fox jumps over the lazy dog"

In [32]:
strsplit(pangram, " ")

[[1]]
[1] "The"   "quick" "brown" "fox"   "jumps" "over"  "the"   "lazy"  "dog"

In [34]:
str(strsplit(pangram, " "))

List of 1
 $ : chr [1:9] "The" "quick" "brown" "fox" ...

In [33]:
words <- strsplit(pangram, " ")[[1]]
words

[1] "The"   "quick" "brown" "fox"   "jumps" "over"  "the"   "lazy"  "dog"

In [35]:
unique(tolower(words))

[1] "the"   "quick" "brown" "fox"   "jumps" "over"  "lazy"  "dog"

In [38]:
paste(words)

[1] "The"   "quick" "brown" "fox"   "jumps" "over"  "the"   "lazy"  "dog"

In [39]:
paste(words, collapse = " ")

[1] "The quick brown fox jumps over the lazy dog"

In [41]:
state.name

 [1] "Alabama"        "Alaska"         "Arizona"        "Arkansas"
 [5] "California"     "Colorado"       "Connecticut"    "Delaware"
 [9] "Florida"        "Georgia"        "Hawaii"         "Idaho"
[13] "Illinois"       "Indiana"        "Iowa"           "Kansas"
[17] "Kentucky"       "Louisiana"      "Maine"          "Maryland"
[21] "Massachusetts"  "Michigan"       "Minnesota"      "Mississippi"
[25] "Missouri"       "Montana"        "Nebraska"       "Nevada"
[29] "New Hampshire"  "New Jersey"     "New Mexico"     "New York"
[33] "North Carolina" "North Dakota"   "Ohio"           "Oklahoma"
[37] "Oregon"         "Pennsylvania"   "Rhode Island"   "South Carolina"
[41] "South Dakota"   "Tennessee"      "Texas"          "Utah"
[45] "Vermont"        "Virginia"       "Washington"     "West Virginia"
[49] "Wisconsin"      "Wyoming"

In [42]:
str(state.name)

 chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" "California" "Colorado" ...

In [43]:
head(substr(state.name, 3, 6))

[1] "abam" "aska" "izon" "kans" "lifo" "lora"

In [44]:
grep("New", state.name)

[1] 29 30 31 32

In [45]:
state.name[grep("New", state.name)]

[1] "New Hampshire" "New Jersey"    "New Mexico"    "New York"

In [46]:
grep("New", state.name, value = TRUE)

[1] "New Hampshire" "New Jersey"    "New Mexico"    "New York"

In [48]:
str(grep("new", state.name, value = TRUE))

 chr(0)

In [49]:
install.packages("stringr")

package 'stringr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\papfr\AppData\Local\Temp\RtmpOY0tRM\downloaded_packages

In [50]:
library("stringr")

Warning message:
"package 'stringr' was built under R version 3.6.3"
Attaching package: 'stringr'

The following object is masked _by_ '.GlobalEnv':

    words

In [51]:
version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          6.1
year           2019
month          07
day            05
svn rev        76782
language       R
version.string R version 3.6.1 (2019-07-05)
nickname       Action of the Toes

In [52]:
directions <- c("North", "East", "South", "South")

In [56]:
str(factor(directions))

 Factor w/ 3 levels "East","North",..: 2 1 3 3

In [53]:
factor(directions)

[1] North East  South South
Levels: East North South

In [54]:
factor(directions, levels= c("North", "East", "South", "West"))

[1] North East  South South
Levels: North East South West

In [55]:
factor(directions, levels= c("North", "East", "South", "West"), labels=c("N", "E", "S", "W"))

[1] N E S S
Levels: N E S W

In [57]:
directions <- factor(c("North", "East", "South", "South"))
directions

[1] North East  South South
Levels: East North South

In [58]:
as.character(directions)

[1] "North" "East"  "South" "South"

In [60]:
as.numeric(directions)

[1] 2 1 3 3

In [61]:
numbers <- factor(c(9, 8, 10, 8, 9))

In [62]:
str(numbers)

 Factor w/ 3 levels "8","9","10": 2 1 3 1 2

In [63]:
as.character(numbers)

[1] "9"  "8"  "10" "8"  "9"

In [64]:
as.numeric(numbers)

[1] 2 1 3 1 2

In [65]:
as.numeric(as.character(numbers))

[1]  9  8 10  8  9

In [67]:
state.region

 [1] South         West          West          South         West
 [6] West          Northeast     South         South         South
[11] West          West          North Central North Central North Central
[16] North Central South         South         Northeast     South
[21] Northeast     North Central North Central South         North Central
[26] West          North Central West          Northeast     Northeast
[31] West          Northeast     South         North Central North Central
[36] South         West          Northeast     Northeast     South
[41] North Central South         South         West          Northeast
[46] South         West          South         North Central West
Levels: Northeast South North Central West

In [66]:
str(state.region)

 Factor w/ 4 levels "Northeast","South",..: 2 4 4 2 4 4 1 2 2 2 ...

In [68]:
levels(state.region)

[1] "Northeast"     "South"         "North Central" "West"

In [69]:
status <- c("Lo", "Hi", "Med", "Med", "Hi")
ordered.status <- factor(status, levels=c("Lo", "Med", "Hi"), ordered=TRUE)
ordered.status

[1] Lo  Hi  Med Med Hi
Levels: Lo < Med < Hi

In [70]:
table(status)

status
 Hi  Lo Med
  2   1   2

In [71]:
table(ordered.status)

ordered.status
 Lo Med  Hi
  1   2   2